@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,table,tbody,thead,tr,td,p,h1,h2,h3,h4,h5,h6,form,img,button,select,option,textarea {
  margin: 0;
  padding: 0;
  user-select: none;
}
button {
  border: none;
}
button:active, button:hover, bottom:focus {
  outline: none;
}
img {
  border: none;
  vertical-align: center;
}
address,code,th {
  font-style: normal;
  font-weight: normal;
}
ul,ol {
  list-style: none;
}
body {
  font: 16px "微软雅黑", HELVETICA;
}
a {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff;
}
a:hover,
a:active,
a:focus {
  color: #178fea;
  text-decoration: none;
}
input, textarea {
  outline: none;
  border: none;
}
input::placeholder{
  color: gray;
  font-size: 16px;
}
input:-ms-input-placeholder {
  color: gray;
  font-size: 16px;
}
input::-moz-placeholder {
  color: gray;
  font-size: 16px;
}
input::-webkit-input-placeholder {
  color: gray;
  font-size: 16px;
}
em {
  font-style: normal;
}
.pointer {
  cursor: pointer;
}
/* iconfont */
.iconfont {
  font-size: 24px;
  cursor: pointer;
}
.layout {
  width: 1200px;
  margin: 0 auto;
}